<img class="poster-image" [src]="content.imageURL">
<div [style.color]="'dodgerblue'">
    the <span appHighlight>ID</span> is {{content.id}}
</div>
<div class="name-wrapper" [ngSwitch]="content.name">
    <!-- <div class="name spiderman" *ngSwitchCase='"Spiderman"'>
        Best hero ever: {{content.name}}
    </div>
    <div class="name ironman" *ngSwitchCase='specialCheck'>
        He has a heart thing: {{content.name}}
    </div> -->
    <div class="name randomhero">
        {{content.name}}
    </div>
</div>
<div class="description">
    {{content.description}}
</div>
<!-- <div class="current-location">
    {{ content | defaultType }}
     This will make sure a location is show no matter what 
</div> -->
<div class="location" *ngIf="content.currentLocation">
    {{ content.currentLocation}}
</div>